@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #ffff;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  margin-top: 10px;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.nav-link {
  color: #344563;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

form li {
  margin-top: 1em;
  margin-left: 40px;
}

.logo a {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  align-items: center;
  color: #6070ff;
  text-decoration: none;
}

.languages-list li {
  padding: 4px 12px;
  min-width: fit-content;
  height: 20px;
  background: #ebebff;
  border-radius: 8px;
  display: inline-flex;
}

.programing-languages li {
  width: 122px;
  height: 120px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 5px;
}

.social-media-icons ul li {
  margin: 4px;
  padding-top: 1px;
  display: inline-flex;
}

.headline {
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  background-position-x: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 170px;
}

.headline h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
  padding-top: 140px;
  margin-left: 16%;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1s;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 15%;
    width: 100%;
  }
}

.introduction {
  padding-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-left: 16%;
}

.social-media {
  width: 129px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 16%;
  padding-top: 10px;
  display: inline-flex;
}

.social-media-icons {
  padding-top: 10px;
  margin-left: 16%;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.card-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  margin-top: 100px;
}

.card-section > div {
  padding: 1rem;
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  justify-self: center;
  align-self: center;
  overflow-x: hidden;
}

.card-tonic {
  box-sizing: border-box;
  background: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: flex-start;
}

.card-tonic img {
  width: 344px;
  height: 248px;
  top: 24px;
  border-radius: 8px;
  margin-right: 10px;
  align-self: flex-start;
}

.card-mult-post {
  box-sizing: border-box;
  background: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.card-mult-post :nth-child(1) { order: 3; }
.card-mult-post :nth-child(2) { order: 2; }

.card-mult-post img {
  width: 344px;
  height: 248px;
  top: 24px;
  border-radius: 8px;
}

.card-detail-two {
  margin-right: 20px;
}

.card-detail-two h2 {
  margin-top: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-bottom: 1%;
  margin-left: 10px;
}

.card-detail {
  display: flex;
  flex-direction: column;
}

.card-detail h2 {
  margin-top: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-bottom: 1%;
  margin-left: 10px;
}

.card-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-bottom: 1%;
  margin-left: 10px;
}

.card-message {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 10px;
}

.button {
  width: 120px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: #396df2;
  background: white;
  border-radius: 5px;
  display: inline-block;
  color: #396df2;
  margin-top: 10px;
  margin-left: 10px;
}

.languages-list {
  right: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: block;
  align-items: center;
  color: #253858;
  margin-top: 10px;
  margin-left: 10px;
}

.about-my-self {
  background: #fff;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

.myself {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.myself h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  margin-top: 60px;
}

.myself p {
  width: 430px;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #344563;
}

.myself h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.mobile-menu li a {
  width: 63px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
}

.myself ul li {
  display: inline-flex;
  padding: 10px;
}

.intro-message {
  color: #344563;
}

.button-resume {
  width: 175px;
  height: 50px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: #396df2;
  background: white;
  border-radius: 5px;
  display: inline-block;
  color: #396df2;
}

#languages {
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  display: block;
  align-items: center;
  color: #253858;
}

.programing-languages {
  list-style: none;
  display: inline-flex;
}

.image-item {
  width: 80px;
  height: 80px;
}

.menu-languages {
  margin-top: 70px;
}

.menu-languages button {
  display: block;
  width: 390px;
  height: 66.72px;
  background: #f7f7f9;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  justify-content: space-between;
  align-items: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #dfe1e6;
}

.contact {
  background: #6070ff;
  background-image: url("../images/contact_bg.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
}

.contact-me {
  margin-top: 50px;
  align-self: center;
  width: fit-content;
}

.form-information {
  align-self: center;
}

.contact h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-left: 160px;
}

.contact-me p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

input {
  background: #fff;
  border: 1px solid #cfd8dc;
  padding: 10px 60px;
}

.input-area {
  background: #fff;
  border: 1px solid #cfd8dc;
  resize: none;
  padding: 5px 22px;
}

.get-touch {
  width: 150px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  background: white;
  border-radius: 5px;
  border: none;
  color: #396df2;
  margin-left: 30px;
}

.arrow {
  display: flex;
  justify-content: space-between;
  float: right;
}

.shape-rectangule {
  padding: 10%;
}

.shape-line {
  width: 134px;
  height: 5px;
  margin-left: 125px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin-top: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 400px) {
  .nav-menu {
    height: 1800px;
  }
}

@media (max-width: 768px) {
  .main-content {
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    overflow-x: scroll;
  }

  /* LOGO */
  .logo {
    font-size: 18px;
    margin-left: 10px;
  }

  .headline {
    height: 500px;
  }

  .card-section > div {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .about-my-self {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .about-my-self p {
    width: 420px;
    max-height: max-content;
    margin-bottom: 10px;
  }

  .contact h2 {
    font-weight: 600;
    font-size: 40px;
    margin-left: 70px;
  }

  .contact-me p {
    font-weight: 350;
    font-size: 25px;
    line-height: 40px;
  }

  .form-information {
    margin-right: 70px;
  }

  .input-area {
    padding: 5px 26px;
  }

  .hamburger {
    display: block;
    color: #396df2;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: #fff;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5px;
    gap: 0;
    flex-direction: column;
    background: #6070ff;
    mix-blend-mode: multiply;
    width: 100%;
    height: 95%;
    text-align: start;
    transition: 0.3s;
  }

  .nav-item {
    margin-left: 20px;
    margin-top: 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    align-self: flex-start;
  }

  .nav-link {
    height: 24px;
    left: 0;
    right: 68px;
    top: calc(50% - 24px / 2);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .nav-menu.active {
    left: 0;
    margin-left: 0;
    margin-top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    align-self: flex-start;
    display: block;
  }
}
